.P-sidebar {
  .P-container {
    position: sticky;
    top: 0;
    left: 0;
  }
  width: 100%;
  max-width: 200px;
  .P-right-sidebar {
    background-color: #e15d29;
    transition: all 0.3s ease;
    padding: 10px;
    width: 200px;
    height: 100vh;
    position: fixed;
    box-shadow: 0px 0px 13px 2px rgba(34, 60, 80, 0.2);

    .P-logo {
      width: 100%;
      justify-self: unset;
      text-align: right;
      margin: 0;
    }
    .P-links {
      margin-top: 20px;

      text-align: left;
    }
  }
  @media (max-width: 768px) {
    display: flex;
    max-width: 100%;
    height: 50px;
    min-height: auto;

    .P-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0 10px;
      position: sticky;
      top: 0;
      left: 0;
      .P-logo {
        height: 100%;
        width: fit-content;
        margin-top: 0;
      }
      .P-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 0;
        gap: 10px;
      }
    }
  }
  background-color: #e15d29;
  text-align: center;
  line-height: 1.5;
  min-height: 100vh;
  .P-logo {
    width: 100%;
    max-width: 200px;
    margin-top: 20px;
  }
  .P-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    gap: 10px;
  }
  a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
  }
}
